{
  "mongoURI": "",
  "jwtSecret": "",
  "jwtOptions": { "expiresIn": 360000 },
  "defaultProfileFields": {
    "bio": "Hey there I'm using Budget Bucket!"
  },
  "signedInToken": "",
  "strings": {
    "NO_AUTH_TOKEN_MESSAGE": "No Token, Authorization Denied!",
    "INVALID_TOKEN": "Token Error!"
  }
}
