{
  "mongoURI": "",
  "jwtSecret": "",
  "jwtOptions": { "expiresIn": 360000 },
  "defaultProfileFields": {
    "bio": "Hey there I'm using Budget Bucket!"
  },
  "signedInToken": "",
  "strings": {
    "SERVER_ERROR": "Server Error",
    "NOT_AUTHORIZED": "Not Authorized!",
    "INVALID_CREDENTIALS": "Invalid Credentials!",
    "NO_AUTH_TOKEN_MESSAGE": "No Token, Authorization Denied!",
    "INVALID_TOKEN": "Token Error!",
    "NAME_REQUIRED": "Name is required",
    "VALID_EMAIL": "Please include a valid email",
    "VALID_PASSWORD": "Please enter a password with 6 or more characters",
    "PASSWORD_REQUIRED": "Password is required",
    "USER_EXISTS": "User already exists!",
    "CATEGORY_REQUIRED": "Category is required",
    "AMOUNT_REQUIRED": "Amount is required",
    "VALID_AMOUNT": "Amount should be a Number",
    "TYPE_REQUIRED": "Type is required",
    "VALID_TYPE": "Type should be either Income or Spend",
    "VALID_TYPE_VALUES": ["Spend", "Income"],
    "TRANSACTION_NOT_FOUND": "No Transactions Found",
    "TRANSACTION_REMOVED": "Transaction Removed!",
    "TRANSACTION_UPDATED": "Transaction Updated!"
  }
}
